@page "/editions"

@using ClaytonsWeb.Data
@inject Repository repo

<h1>Claytons Newsletters all editions</h1>

<p>This page will simply have a list of all the newsletters.</p>
<p>However for this to work and look okay requires someone to populate the "list of all editions"
    friendly text with something like "Edition 42, June 2004"</p>
<div class="row">
<div class="col-12">
    <table class="table">
        <thead>
            <tr>
                <th>Filename</th>
                <th>Edition</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in repo.allNewsletters())
            {
                <tr>
                    <a href="newsletters/@result.filename" target="_blank"><td>@result.filename</td></a>
                    <td>@result.description</td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>

@code {
    
}
