@page "/bays"

@using ClaytonsWeb.Data
@inject Repository repo

<h1>Claytons Newsletters Bays</h1>

<p>This page shows a predefined list of Bay names.</p>
<div class="row">
    <div class="col-2">
        <div><h2>Bays</h2></div>
        @foreach (var search in repo.presearchList(2))
        {
            <div><a href="javascript: void(0)" 
                @onclick="@(e => doSearch(search.category_id, search.search_id))">@search.search_label</a></div>
        }
    </div>
<div class="col-10">

@if (results != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Edition</th>
                <th>Page</th>
                <th>Context</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in results)
            {
                <tr>
                    <a href="newsletters/@result.filename#page=@result.pagenum" target="_blank"><td>@result.filename</td></a>
                    <td>@result.pagenum</td>
                    <td>@result.context</td>
                </tr>
            }
        </tbody>
    </table>
}
</div>
</div>

@code {
    private void doSearch(int category_id, int search_id) {
        var search_terms = repo.getPresearchTerm(category_id, search_id);
        results = repo.multiSearch(search_terms);
    }
    private IEnumerable<SearchResult> results;
}
