﻿@page "/fetchdata"

@using ClaytonsWeb.Data
@inject Repository repo

<h1>Claytons Newsletters</h1>

<p>This page allows you to search by entering one or more words.</p>
<p><input @bind="search_terms" /></p>
@if (results != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Edition</th>
                <th>Page</th>
                <th>Context</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in results)
            {
                <tr>
                    <a href="newsletters/@result.filename#page=@result.pagenum" target="_blank"><td>@result.filename</td></a>
                    <td>@result.pagenum</td>
                    <td>@result.context</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string _search_terms = null;
    private string search_terms {
        get { return _search_terms; }
        set {
            _search_terms = value;
            results = repo.multiSearch(search_terms);
        }
    }
    private IEnumerable<SearchResult> results;
}
