﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ClaytonsWeb</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="editions">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Editions
            </NavLink>
        </li>

        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Search
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="islands">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Islands
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bays">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bays
            </NavLink>
        </li>
        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="animals">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Animals
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
